<app-dashboard></app-dashboard>
<div class="about-us">
<img [src]="url" width="100%" height="90%">
<div class="container">
  <h2>About Us</h2>
<p>As a movie streamer, my website is a crucial aspect of my job.
  It is the primary point of contact between me and my customers,
  and it is where they go to browse and watch the films and television shows that I offer.
<br>
<br>
 My website is designed to be user-friendly and easy to navigate.
  The homepage features a prominently displayed search bar,
  which allows customers to quickly find the content they are looking for.
  The site is also divided into different sections,
  such as "New Releases," "Popular Titles," and "Genres," which make it
  easy for customers to discover new films and shows based on their interests.
<br>
<br>
One of the most important features of my website is the streaming
  platform itself. I have made sure that it is highly reliable and
  that it can handle a large number of users at the same time.
  The streaming platform is also optimized for all types of devices,
  including smartphones, tablets, and smart TVs, so customers can watch
  their favorite content wherever they are.</p>
</div>
</div>
