.about-us{
  position: relative;
  overflow: hidden;
  height: 895px;
  width: 100%;
  background-color: black;
  opacity: 0.9;
  z-index: -1;
}
.container{
  margin:250px 280px;
 border-style:solid;
 border-radius: 20px;
 background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(131, 130, 130)) ;
}
p{
padding: 30px 80px;
font-family:'Lobster';
font-size: 20px;
font-weight: 500;
}
h2{
  text-align: center;
  font-family:'Lobster';
}
img{
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  vertical-align: middle;
}
